RewriteCond %{HTTP_HOST} ^iwanproject.com [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Enable directory browsing
Options +Indexes

# Allow access to images directory
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /public_html/
    RewriteRule ^images/(.*)$ - [L]
</IfModule>
